.search-bar{
  width: 80%;

  border-radius: 8px;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
display: block;

}

.country-cards{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border-radius: 8px;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  text-align: center;
  height: 10px;
  width: 100%;
  

}